@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

// Variables
@import "variables";

// 3rd party
@import "~loaders.css/src/loaders";

// Partials
@import "partials/pdf";
@import "partials/loader";
@import "partials/button";

html {
    box-sizing: border-box;
}

* {
    &::before, &::after {
        box-sizing: inherit;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: $gray-lighter;
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    color: $gray-light;
}
