.loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.loader-invert div {
    background-color: $gray;
}
