.ReactPDF {
    &__Document {
        text-align: center;
    }

    &__Page {
        margin-bottom: 1rem;

        &__canvas {
            max-width: 100%;
            height: auto !important;
            margin: auto;
        }
    }
}
